html {
    font-size: 22px
}

body {
    background-color: black;
    color:
          whitesmoke;
}
a {color: yellow;}
a:visited {
           color: yellow;
}

a:hover, 
a:active {
                   color:
                         #eee; 
}     
